*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    
}
section{
    position:fixed;
}
.box-container{
    width: 100px;
    height: 35px;
    background-color: #0C0500;
    color: #ffff;
    display: none;
    position: absolute;
}
@media(max-width: 400px){
    .box-container{
        display: flex;
        justify-content: space-evenly;
    }
}
.main1{
    width: 180px;
    height: 49px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 25px;
    left: 70px;
    font-family: 'Montserrat', sans-serif;
}
@media(max-width: 375px){
    .main1{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
    }
}
.main2{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: absolute;  
    top: 30px;
    left: 800px;
    font-family: 'Montserrat', sans-serif;
    color: #CDC9C9;
}
@media(max-width: 398px){
    .main2{
        display: none;
    }
}
.main2 :hover{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.img-main{
    width: 1348px;
    position: relative;
    top:60px;
}
.img-main img{
    width: 100%;
}
@media(max-width:375px){
    .img-main{
        display: none;
    }
}
.modo-mobile{
    display: none;
}
@media(max-width:375px){
    .modo-mobile{
        width: 375px;
        height: 3;
        display:block;
        margin-top: 35px;
    }
}

.main-box{
    width: 770px;
    position:absolute;
    top: 300px;
    left: 140px;
}
@media(max-width:375px){
    .main-box{
        display: none;
    }
    
}
.main-container{
    width: 200px;
    position:absolute;
    top: 400px;
    left: 140px;
}
@media(max-width:375px){
    .main-container{
        display: none;
    }
    
}
.box-main1{
    width: 290px;
    height: 290px;
    margin-top: 110px;
    margin-left: 95px;   
}
@media(max-width:375px){
    .box-main1{
        margin-left: 45px;
        margin-top: 30px;
    }
}
.box-main2{
    width: 290px;
    height: 290px;
    
}
@media(max-width:375px){
    .box-main2{
        margin-left: 45px;
    }
}
.box-main3{
    width: 290px;
    height: 290px;
} 
@media(max-width:375px){
    .box-main3{
        margin-left: 45px;
    }
}   
.box-main4{
    width: 290px;
    height: 290px;
} 
@media(max-width:375px){
    .box-main4{
        margin-left: 45px;
    }
} 
.box-main5{
    width: 290px;
    height: 290px;
    margin-left: 95px; 
}
@media(max-width:375px){
    .box-main5{
        margin-left: 45px;
    }
}
.box-main6{
    width: 290px;
    height: 290px;
    
}
@media(max-width:375px){
    .box-main6{
        margin-left: 45px;
    }
}
.box-main7{
    width: 290px;
    height: 290px;
    
}
@media(max-width:375px){
    .box-main7{
        margin-left: 45px;
    }
}
.box-main8{
    width: 290px;
    height: 290px;
   
}
@media(max-width:375px){
    .box-main8{
        margin-left: 45px;
    }
}
.box-main9{
    width: 290px;
    height: 290px;
    margin-left: 95px;  
}
@media(max-width:375px){
    .box-main9{
        margin-left: 45px;
    }
}
.box-main10{
    width: 290px;
    height: 290px;
    
}
@media(max-width:375px){
    .box-main10{
        margin-left: 45px;
    }
}
.box-main11{
    width: 290px;
    height: 290px;
    
}
@media(max-width:375px){
    .box-main11{
        margin-left: 45px;
    }
}
.box-main12{
    width: 290px;
    height: 290px;
    
}
@media(max-width:375px){
    .box-main12{
        margin-left: 45px;
    }
}

.width-footer{
    width: 1348px;
    display: flex;
    position: absolute;
    top:2000px;
    
}
.width-footer img{
    width: 100%;
}

@media(max-width:375px){
    .width-footer{
        width: 370px;
        display: flex;
        position: absolute;
        top:4350px;
        
    }
    .width-footer img{
        width: 100%;
    }
}